body {
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    color: white;
}

ul {
    color: #f0f0f0;
}

.container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

h2, h3, h4 {
    color: #333;
    text-align: center;
}

h2 {
    margin-top: 40px; 
}

figure {
    margin-left: 20px;
    width: 60%;
    margin: auto; /* Centers the figure */
}

img {
    width: 100%; /* Ensures the image fills the figure */
    height: auto; /* Maintains aspect ratio */
}

footer {
        color: #333;
    }