/* CSS file for all simple web pages */

body{
    font-family: 'Mulish', sans-serif;
}

.header{
    background-color: rgb(30, 30, 30);
}

.header-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    display: block;
    text-shadow: 0px 0px 3px rgb(112, 147, 207);
    padding-top: 20px;
}

.page-title{
    padding-top: 40px;
    padding-bottom: 0px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.container-title{
    padding-top: 40px; 
}

.asset-spec{
    padding-top: 60px;
}

.table th, .table td {
    padding-left: 5px;
    padding-right: 15px;
    text-align: left;
  }

.table{
    border: 1px solid #d4e5d3;
}

.table tbody tr:nth-child(odd) td,
.table tbody tr:nth-child(odd) th {
	background: #d4e5d3;
}

.table thead tr th,
.table tbody tr td:nth-child(1){
    white-space: nowrap;
}

.divide{
    border:5px solid #d4e5d3;
    border-radius: 5px;
}

.asset-icon{
    padding-top: 20px; 
    color: #d4e5d3;
    font-size: 10em; 
    text-align: center;
}

.footer{
    padding-top: 20px; 
    padding-bottom: 20px; 
    background-color: rgb(30, 30, 30);
    font-weight: lighter;
    font-size: 80%;
    position: relative;
    top: 40px;
}

.footer p{
    color: rgb(255, 255, 255);
    margin-bottom: 5px; 
}

.footer .logo{
    background-color: rgb(255, 255, 255);
}

.footer img{
    width: 100%; 
}


