.features {
    padding-top: 100px;
    padding-bottom: 75px;
}

.features-title {
    font-weight: lighter;
    color: rgb(30, 30, 30);
}

.features-icon {
    display: none;
    
    @media ($bp-larger-than-phablet) {
        display: block;
        color: rgb(224, 224, 224);
        text-align: center;
        font-size: 800%;
        margin-top: -16%;
        margin-bottom: -17%;
    }
    @media ($bp-larger-than-tablet) {
        font-size: 1000%;
    }
    @media ($bp-larger-than-desktop) {
        font-size: 1500%;
        margin-top: -22%; 
    }
}


.feature-list{
    list-style-type: none;
}

.feature-list li{
    width: 100%; 
    color: rgb(117, 117, 117);
    font-size: 120%;
    float: left;
    height: 2.5em;

    @media ($bp-larger-than-desktop) {
        width: 50%;
    }
}