.features {
    padding-top: 100px;
    padding-bottom: 75px;
}

.features-title {
    font-weight: lighter;
    color: rgb(30, 30, 30);
}

.features-icon {
    color: rgb(224, 224, 224);
    font-size: 1500%;
    text-align: center;
    margin-top: -22%;
    margin-bottom: -17%;
}

.feature-list{
    list-style-type: none;
}

.feature-list li{
    width: 50%; 
    color: rgb(117, 117, 117);
    font-size: 120%;
    float: left;
    height: 2.5em;
}