.footer{
    padding-top: 20px; 
    padding-bottom: 20px; 
    background-color: rgb(30, 30, 30);
    font-weight: lighter;
    font-size: 80%;
    position: relative;
    top: 40px;
    text-align: center;

    @media ($bp-larger-than-phablet) {
        text-align: left;
    }
}

.footer p{
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.footer .logo{
    background-color: rgb(255, 255, 255);
}

.footer .eight{
    margin-left: 0%;

    @media ($bp-larger-than-tablet) {
        margin-left: 4%;
    }
}

.footer .three{
    margin-left: 0%;

    @media ($bp-larger-than-phablet) {
        margin-left: 2%;
    }
    @media ($bp-larger-than-tablet) {
        margin-left: 4%;
    }
}

.footer img{
    display: none;

    @media ($bp-larger-than-tablet) {
        display: block;
        width: 100%; 
    }
}

.footer-hr{
    margin-top: 0px; 
    margin-bottom: 20px;
}

/*  Footer for product/corporate pages */

.footer-special{
    background-color: rgb(30, 30, 30);
    font-weight: lighter;
    font-size: 80%;
    padding-top: 30px; 
    padding-bottom: 20px;
}

.footer-special p{
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.footer-special .logo{
    background-color: rgb(255, 255, 255);
}

.footer-special img{
    width: 100%; 
}






