/* Header styles for all simple pages */

.header{
    background-color: rgb(30, 30, 30);
}

.header-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    display: block;
    text-shadow: 0px 0px 3px rgb(112, 147, 207);
    padding-top: 20px;
}

.page-title{
    padding-top: 40px;
    padding-bottom: 0px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

/* Header styles for product/corporate pages */

#header-screwdriver {
    height: 620px;
    background-image: url("../images/screw.jpg");
    background-size: cover;
    background-position: 70% 60%;
}

#header-corporate {
    height: 620px;
    background-image: url("../images/workspace.jpg");
    background-size: cover;
    background-position: 40% 15%;
}

#header-wine{
    height: 620px;
    background-image: url("../images/wine.jpg");
    background-size: cover;
    background-position: 50% 55%;
}

#header-honey{
    height: 620px;
    background-image: url("../images/honey.jpg");
    background-size: cover;
    background-position: 90% 50%;
}

.header-brand-wrapper {
    margin-top: 10px;
    float: left;
}

.header-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    display: block;
    text-shadow: 0px 0px 3px rgb(112, 147, 207);
}

.slogan {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px black;
    font-size: 450%;
}
.slogan {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px black;
    font-size: 450%;
}

#slogan-screwdriver{
    padding-top: 430px;
    font-size: 200%;

    @media ($bp-larger-than-phablet) {
        font-size: 250%;
    }
    @media ($bp-larger-than-tablet) {
        font-size: 350%;
    }
    @media ($bp-larger-than-desktop) {
        font-size: 450%;
    }
}

#slogan-corporate{
    padding-top: 170px;
}

#slogan-wine{
    padding-top: 120px;
}

#slogan-honey{
    padding-top: 240px;
}